# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://user:password@localhost:3306/petku"
JWT_SECRET = "masj36hd9a8hs598382mgnfmf23f0335j6j7O90SY2ju35loa97"
SESSION_SECRET = "asnd8h83rh18brf81b3rc101n3e013nb1ce2b1208bec812he081h208e"
DOMAIN="http://localhost:5000/"
MIDTRANS_SERVER_KEY="your-midtrans-server-key"